<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study_report_support</title>
</head>
<body>
<h1>Study Report Support</h1>

<div style="margin: 10px;">
    <table border>
        <tr>
            <th>作成日時</th>
            <th>作成レポート</th>
            <th></th>
        </tr>
        {% for report in object_list %}
        <tr>
            <td>{{ report.create_time }}</td>
            <td>{{ report.subject }}</td>
            <td><a href="{% url 'srs:detail_report' report.id %}">詳細</a></td>
        </tr>
        {% empty %}
        <tr>
            <td>レポートは存在しません。</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div style="margin: 10px;"></div>
    <a href="{% url 'srs:dash_board' %}">ダッシュボード</a>
    <a href="{% url 'srs:create_report' %}">レポート作成</a>
    <a href="{% url 'srs:create_subject' %}">科目作成</a>
</div>

<div>
    <table border style="margin: 10px;">
        <tr>
            <th>科目</th>
        </tr>
        {% for subject in subject_list %}
        <tr>
            <td>{{ subject.subject_name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>