<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study_report_support</title>
</head>
<body>
<h1>Study Report Support</h1>
{% if latest_report_list %}
    <ul>
    {% for report in latest_report_list %}
        <li><a href="/report/{{ report.id }}">{{ report.subject }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p> No Reports are available.</p>
{% endif %}
<br>
<a href="{% url 'srs:create'%}">レポート作成</a>
</body>
</html>