<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study_report_support</title>
</head>
<body>
<h1>Study Report Support</h1>
{% if latest_report_list %}
<table>
    <tr>
        <th>作成日時</th>
        <th>作成レポート</th>
        <th></th>
    </tr>
    {% for report in latest_report_list %}
    <tr>
        <td>{{ report.create_time }}</td>
        <td>{{ report.subject }}</td>
        <td><a href="/report/{{ report.id }}">編集する</a></td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p> No Reports are available.</p>
{% endif %}
<br>
<a href="{% url 'srs:createReport'%}">レポート作成</a>
<a href="{% url 'srs:createSubject'%}">科目作成</a>
</body>
</html>